:root {
    --color1: rgb(50, 50, 50);
    --color2: rgb(62, 62, 67);
    background-color: var(--color2);
}
/* common settings */
body {
    margin:0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background-color: var(--color1);
}
a {
    color: blue;
}
a:visited {
    color:yellow;
}

/* footer & header */
header, footer {
    background-color: var(--color2);
    position:relative; /* for absolute elements inside */
    padding:20px;
}
ul.social, nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
}
footer, footer a {
    color:antiquewhite;
}
footer a:visited {
    color:yellow;
}

/* footer */
img.social {
    width:20px;
    padding:5px;
}
ul.social {
    flex-direction: column;
}
ul.social li {
    /* align vertically to the level of the images */
    display:flex;
    align-items: center;
}

/* header */
nav ul {
    flex-direction: row;
    width:fit-content;
    margin-left: 50px;
    gap:20px;
}
nav ul li {
    flex-grow:1;
    text-align: center;
}
nav ul li a {
    color:antiquewhite;
    font-size:1.2em;
    font-weight: 700;
    text-decoration: none;
}
a#login {
    position:absolute;
    right:30px;
    top:50%;
    transform: translateY(-50%);
}
img#siteLogo {
    position:absolute;
    left:15px;
    top:50%;
    transform: translateY(-50%);
    width:40px;
}
/* button#themeToggle {
    position:absolute;
    left:0;
    top:0;
    background-color: transparent;
    border: none;
    width:30px;
    height:30px;
}
button#themeToggle, button#themeToggle img {
    width:30px;
} */